@charset "utf-8";
/* CSS Document */
#top{
	background-image: url(../../underconstruction/img/background3.jpg);
	height: 900px;
}
#top h1{
	font-size:60px;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	color: white;
}
#top p{
color: white;
font-size: 130%;	
}
 
 
.input-group{
	margin-left: 50%;
	
}
